#### Hagamos un primer vitazo al Data Set de Properati. 

**¿Cuántas columnas tiene? ¿Y cuántas filas?**
**¿Cuáles son las columnas? ¿Qué tipo de datos contiene cada una?**

In [1]:
import pandas as pd

In [2]:
data_properati = pd.read_csv("properati.csv")
data_properati.head(3)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,...,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,...,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...

In [3]:
data_properati.index

RangeIndex(start=0, stop=121220, step=1)

In [4]:
data_properati.dtypes

Unnamed: 0                      int64
operation                      object
property_type                  object
place_name                     object
place_with_parent_names        object
country_name                   object
state_name                     object
geonames_id                   float64
lat-lon                        object
lat                           float64
lon                           float64
price                         float64
currency                       object
price_aprox_local_currency    float64
price_aprox_usd               float64
surface_total_in_m2           float64
surface_covered_in_m2         float64
price_usd_per_m2              float64
price_per_m2                  float64
floor                         float64
rooms                         float64
expenses                      float64
properati_url                  object
description                    object
title                          object
image_thumbnail                object
dtype: object

**¿Cuál es el porcentaje de valores nulos por columna?**

In [5]:
valores_null = data_properati.isnull().sum()
valores_total = 121220
porcentaje_null = (valores_null / valores_total) * 100
porcentaje_null

Unnamed: 0                     0.000000
operation                      0.000000
property_type                  0.000000
place_name                     0.018974
place_with_parent_names        0.000000
country_name                   0.000000
state_name                     0.000000
geonames_id                   15.440521
lat-lon                       42.525986
lat                           42.525986
lon                           42.525986
price                         16.837156
currency                      16.837981
price_aprox_local_currency    16.837156
price_aprox_usd               16.837156
surface_total_in_m2           32.443491
surface_covered_in_m2         16.422208
price_usd_per_m2              43.394654
price_per_m2                  27.686850
floor                         93.483749
rooms                         60.905791
expenses                      88.234615
properati_url                  0.000000
description                    0.001650
title                          0.000000
image_thumbnail                2.567233
dtype: float64

**¿Qué monedas tenemos? ¿Cuántos registros hay por cada una?**

In [6]:
data_properati['currency'].value_counts()

USD    87587
ARS    13219
PEN        2
UYU        1
Name: currency, dtype: int64

**¿Cómo es la distribución por state_name?**

In [7]:
data_properati['state_name'].value_counts()

Capital Federal                 32316
Bs.As. G.B.A. Zona Norte        25560
Bs.As. G.B.A. Zona Sur          13952
Córdoba                         12069
Santa Fe                        10172
Buenos Aires Costa Atlántica    10006
Bs.As. G.B.A. Zona Oeste         9322
Buenos Aires Interior            2291
Río Negro                         808
Neuquén                           733
Mendoza                           681
Tucumán                           674
Corrientes                        583
Misiones                          464
Entre Ríos                        369
Salta                             278
Chubut                            259
San Luis                          252
La Pampa                          157
Formosa                            65
Chaco                              57
San Juan                           40
Tierra Del Fuego                   31
Catamarca                          27
Jujuy                              26
Santa Cruz                         20
Santiago Del Estero                 4
La Rioja                            4
Name: state_name, dtype: int64

**¿Y la distribución por property_type?**

In [8]:
data_properati['property_type'].value_counts()

apartment    71065
house        40268
PH            5751
store         4136
Name: property_type, dtype: int64

## ¿El precio de venta de la propiedad correlaciona con el valor de las expensas?

Para este análisis vamos a tomar aquellas propiedades que tengan las variables *precio_aprox_usd* y *expenses* completas, sin importar a que provincia pertencen

In [9]:
# generamos una mascara para identificar aquellos que tienen el valor de las expensas no nulo
expenses_not_null = data_properati['expenses'].isnull() == 0

# aplicamos la mascara creando un nuevo objeto data_properati_expenses_not_null
data_properati_expenses_not_null = data_properati.loc[expenses_not_null, :]

Veamos la cantidad de filas que tiene nuestro dataframe con expensas completas

In [10]:
print('La cantidad de filas de nuestro dataframe resultante es igual a', data_properati_expenses_not_null['expenses'].count())

La cantidad de filas de nuestro dataframe resultante es igual a 14262

Veamos como se distribuyen estas propiedades por property_type

In [11]:
data_properati_expenses_not_null['property_type'].value_counts()

apartment    11204
house         2308
store          402
PH             348
Name: property_type, dtype: int64

¿Y por state_name?

In [12]:
# quiero ver la distribucion de los not null por state_name
data_properati_expenses_not_null['state_name'].value_counts()

Capital Federal                 6592
Bs.As. G.B.A. Zona Norte        3081
Bs.As. G.B.A. Zona Sur          1777
Córdoba                         1006
Bs.As. G.B.A. Zona Oeste         633
Buenos Aires Costa Atlántica     440
Santa Fe                         316
Tucumán                           90
Buenos Aires Interior             85
Corrientes                        69
Mendoza                           69
Neuquén                           36
Entre Ríos                        25
Río Negro                         22
San Luis                           5
Formosa                            5
La Pampa                           3
Salta                              2
Misiones                           2
Santiago Del Estero                1
Tierra Del Fuego                   1
Chubut                             1
Chaco                              1
Name: state_name, dtype: int64

In [13]:
# quiero ver el porcentaje de completitud de la variable expensas por state_name
# expensas not null / q total
total_state_name = data_properati['state_name'].value_counts()
porcentaje_expenses_notnull_statename = (((data_properati_expenses_not_null['state_name'].value_counts()) / total_state_name)*100).sort_values(ascending=False)
porcentaje_expenses_notnull_statename

Santiago Del Estero             25.000000
Capital Federal                 20.398564
Tucumán                         13.353116
Bs.As. G.B.A. Zona Sur          12.736525
Bs.As. G.B.A. Zona Norte        12.053991
Corrientes                      11.835334
Mendoza                         10.132159
Córdoba                          8.335405
Formosa                          7.692308
Bs.As. G.B.A. Zona Oeste         6.790388
Entre Ríos                       6.775068
Neuquén                          4.911323
Buenos Aires Costa Atlántica     4.397362
Buenos Aires Interior            3.710170
Tierra Del Fuego                 3.225806
Santa Fe                         3.106567
Río Negro                        2.722772
San Luis                         1.984127
La Pampa                         1.910828
Chaco                            1.754386
Salta                            0.719424
Misiones                         0.431034
Chubut                           0.386100
Catamarca                             NaN
Jujuy                                 NaN
La Rioja                              NaN
San Juan                              NaN
Santa Cruz                            NaN
Name: state_name, dtype: float64

In [14]:
# genero una mascara para detectar aquellos datos con expensas no nulas y precio en dolares
# quiero ver si hay correlacion entre el valor de la propiedad y el valor de las expensas 
# me quedo con las propiedades que tienen el precio en dolares
price_aprox_usd_notnull = data_properati_expenses_not_null['price_aprox_usd'].isnull() == 0
data_properati_expenses_notnull_usd_notnull = data_properati_expenses_not_null.loc[price_aprox_usd_notnull, :]

In [15]:
data_properati_expenses_notnull_usd_notnull.loc[:, ['price_aprox_usd', 'expenses']].corr(method='pearson')

                 price_aprox_usd  expenses
price_aprox_usd          1.00000   0.01101
expenses                 0.01101   1.00000

**Conclusión: el valor de la propiedad no correlaciona con el valor de las expensas**